@font-face {
    font-family: "MGS2";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/MGS2.ttf") format("ttf");
}

@font-face {
    font-family: "Espionage";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Espionage.woff") format("woff");
}

@font-face {
    font-family: "Metal Gear";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Metal Gear.woff") format("woff");
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-thumb {
    background-color: #eddb7e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: #0000;
}

body {
    height: 100vh;
    margin: 0;
    padding: 2em;
    font-family: "MGS2", sans-serif;
    color: #fffff1;
    background-color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    max-height: 7.5em;
    padding: 0 1em;
    overflow: auto;
}

ul li:not(:last-child) {
    margin-bottom: 0.5em;
}

button {
    padding: 0.25em 0.75em;
    font-family: inherit;
    font-size: inherit;
    color: #dfe9ec;
    border: 0;
    background-color: #3c6c64;
    cursor: pointer;
}

button:disabled {
    background-color: #2b3a37;
}

button:not(:disabled):hover {
    box-shadow: 0 2px 4px #4aa39a;
}

/* start of Utils */
.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 3rem;
}

.ffmono {
    font-family: monospace;
}
/* end of Utils */

.feedback {
    background-image: url(../img/noize_bg_black.png);
    border: 8px solid;
    border-left: none;
    border-right: none;
    height: 0vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    opacity: 0;
    top: 50%;
    transition: all 0s ease;
    width: 100%;
    z-index: 2000;
}

.feedback--wrong {
    color: #f00a;
}

.feedback--missed {
    color: #fff;
}

.feedback--right {
    color: #0f0a;
}

.feedback.active {
    height: 100vh;
    opacity: 0.88;
    top: 0%;
    pointer-events: all;
}

.feedback span {
    font-family: "metal gear", sans-serif;
    font-size: 2.5rem;
    left: 50%;
    letter-spacing: 0.75rem;
    padding: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(calc(-100% - 1rem));
}

.feedback--wrong span {
    border: 4px solid #f00a;
}

.feedback--missed span {
    border: 4px solid #bbba;
}

.feedback--right span {
    border: 4px solid #0f0a;
}

.feedback .line {
    height: 4px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.feedback--wrong .line {
    background-color: #f00a;
}

.feedback--missed .line {
    background-color: #bbba;
}

.feedback--right .line {
    background-color: #0f0a;
}

.main-view {
    align-content: center;
    align-items: center;
    border: 4px solid #3c6c64;
    box-shadow: 0 0 20px #4aa39a;
    display: grid;
    height: 100%;
    letter-spacing: 0.1em;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000c;
    background-image: url(../img/snake-background.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.15);
}

.metal-gear {
    font-family: "Espionage", sans-serif;
    letter-spacing: 0.25em;
}

.metal-gear .v3 {
    position: relative;
    display: inline-block;
    isolation: isolate;
}

.metal-gear .v3 img {
    position: absolute;
    top: 75%;
    left: 75%;
    z-index: -1;
    transform: translate(-50%, -50%);
    height: 5em;
    opacity: 0.75;
}

.metal-gear h1 {
    font-family: "Metal Gear", serif;
    letter-spacing: 0.3em;
}

.timer-wrap {
    margin-top: 1rem;
}
.timer {
    background-color: #111a;
    border: 2px solid #000;
    border-bottom-width: 4px;
    position: relative;
}
.timer__bar {
    background-color: #2bdef9;
    height: 20px;
    transition: width .25s ease;
}

.inline-input__outer {
    align-items: center;
    background-color: #000a;
    display: flex;
    font-family: "Espionage", sans-serif;
    gap: 1.25rem;
    justify-content: space-between;
    padding: .25rem .75rem;
}
.inline-input__inner {
    background-color: #111a;
    font-family: "MGS2", sans-serif;
    padding: .25rem;
}
.inline-input__inner > input,
.inline-input__inner > select {
    background-color: #0000;
    border: none;
    color: #fff;
}

.inline-input__inner > select option {
    color: #000;
}

.carousel, .display-outer {
    margin: 0 auto;
    height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
}

.carousel.visible, .display-outer.visible {
    opacity: 1;
    height: unset;
    max-width: 460px;
    overflow: unset;
    padding: 5em 0;
}

.confirmation-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    transition: all 0.3s ease-out;
}

.confirmation-button-true,
.confirmation-button-false {
    padding: 0.5rem 1rem;
    width: 5rem;
}

.confirmation-style-true {
    background-color: #0a0!important;
}
.confirmation-style-true:hover {
    box-shadow: 0 3px 5px 0 #0a08!important;
}

.confirmation-style-false {
    background-color: #a00!important;
}
.confirmation-style-false:hover {
    box-shadow: 0 3px 5px 0 #a008!important;
}

.carousel {
    text-align: center;
}

.carousel_display_label-wrapper, .display-inner {
    position: relative;
    display: grid;
    gap: 1em;
}

.carousel_display_label-wrapper {
    padding: 1.5em 1em;
}

.display-outer {
    width: fit-content;
}

.display-inner {
    padding: 1rem 0 1rem 1rem;
}

.carousel_display_label-wrapper h2, .display-inner h2 {
    display: flex;
    font-family: "Espionage", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.15em;
    justify-content: space-between;
    margin-top: -0.5rem;
    padding: 0 0.5rem 0 calc(0.5rem + 4px);
    position: absolute;
    width: 100%;
}

.carousel_display_label_progress, .display_label_level {
    font-family: monospace;
}

.display_text {
    max-height: 40vh;
    line-height: 1.5;
    padding: 0.5rem 3.5rem 0.75rem 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.formatted-premise::before,
.formatted-conclusion::before,
.hqli-premise::before,
.hqli-conclusion::before {
    color: #bbb;
    display: block;
    font-size: 0.75rem;
    font-weight: bolder;
    line-height: 0.7rem;
    opacity: 0.2;
}

.hqli-premise::before,
.hqli-conclusion::before {
    opacity: 0.4;
}

.formatted-premise,
.hqli-premise {
    margin-bottom: 0.25rem;
}

.formatted-premise::before,
.hqli-premise::before {
    content: 'Premise #';
}

.formatted-premise:nth-child(1)::before,
.hqli-premise:nth-child(1)::before {
    content: 'Premise 1';
}

.formatted-premise:nth-child(2)::before,
.hqli-premise:nth-child(2)::before {
    content: 'Premise 2';
}

.formatted-premise:nth-child(3)::before,
.hqli-premise:nth-child(3)::before {
    content: 'Premise 3';
}

.formatted-premise:nth-child(4)::before,
.hqli-premise:nth-child(4)::before {
    content: 'Premise 4';
}

.formatted-premise:nth-child(5)::before,
.hqli-premise:nth-child(5)::before {
    content: 'Premise 5';
}

.formatted-premise:nth-child(6)::before,
.hqli-premise:nth-child(6)::before {
    content: 'Premise 6';
}

.formatted-premise:nth-child(7)::before,
.hqli-premise:nth-child(7)::before {
    content: 'Premise 7';
}

.formatted-premise:nth-child(8)::before,
.hqli-premise:nth-child(8)::before {
    content: 'Premise 8';
}

.formatted-premise:nth-child(9)::before,
.hqli-premise:nth-child(9)::before {
    content: 'Premise 9';
}

.formatted-premise:nth-child(10)::before,
.hqli-premise:nth-child(10)::before {
    content: 'Premise 10';
}

.formatted-conclusion {
    margin-top: 1em;
    margin-right: 1em;
}

.formatted-conclusion::before {
    content: 'Conclusion';
}

.carousel_controls {
    display: inline-flex;
    gap: 150px;
    margin: 0.5rem auto 0 auto;
}

.border-left,
.border-right,
.bracket-lip-top-left,
.bracket-lip-top-right,
.bracket-lip-bottom-left,
.bracket-lip-bottom-right {
    position: absolute;
    background-color: #eddb7e;
    box-shadow: 0 0 4px #9e8847;
}

.border-left,
.border-right {
    left: -8px;
    height: 100%;
    width: 4px;
}

.border-right {
    left: calc(100% + 8px);
}

.bracket-lip-top-left {
    top: 0;
    left: -4px;
    width: 8px;
    height: 4px;
}

.bracket-lip-bottom-left {
    bottom: 0;
    left: -8px;
    width: 12px;
    height: 4px;
}

.bracket-lip-top-right {
    top: 0;
    left: 100%;
    width: 8px;
    height: 4px;
}

.bracket-lip-bottom-right {
    bottom: 0;
    left: 100%;
    width: 12px;
    height: 4px;
}

.subject {
    font-weight: bolder;
    text-transform: uppercase;
}

.level-wrapper {
    justify-self: center;
}

.level {
    position: relative;
    padding: 0 0.5rem 0 calc(4px + 0.5rem);
}

.is-connector {
    color: #2bdef9;
    text-transform: uppercase;
}

.is-meta {
    color: #fff;
}

.stroop .carousel_display_text,
.stroop .display_text {
    color: #f00;
}

.stroop .negation-explainer__color-name::before {
    content: 'White';
}

.negation-explainer__color-name::before {
    content: 'Red';
}

.stroop .is-negated {
    color: #fff;
}

.is-negated {
    color: #f00;
}

.negation-explainer {
    color: #eddb7e;
    font-size: 0.825rem;
    font-style: italic;
}

.analogy-conclusion-relation {
    font-size: 14px;
    margin: 4px 0;
}

.sign {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Metal Gear", serif;
    color: #444;
    text-decoration: none;
}

label.open[for="offcanvas-settings"],
label.open[for="offcanvas-history"],
label.open[for="offcanvas-user"] {
    background-color: #0009;
    color: #abf4ff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    position: absolute;
    z-index: 50;
}

label.open[for="offcanvas-settings"] {
    left: 0;
    top: 0;
    transform-origin: bottom left;
    transform: rotateZ(90deg) translateX(-3rem);
}

label.open[for="offcanvas-history"] {
    right: 0;
    top: 0;
    transform-origin: top right;
    transform: rotateZ(-90deg) translateY(-3rem);
}

label.open[for="offcanvas-user"] {
    left: 0;
    bottom: 0;
    transform-origin: bottom left;
    transform: rotateZ(-90deg) translateY(3rem);
}

label.open[for="offcanvas-settings"]:hover {
    text-shadow: 0px 0px 5px #affa;
}

label.open[for="offcanvas-history"]:hover {
    text-shadow: 0px 0px 5px #affa;
}

label.open[for="offcanvas-user"]:hover {
    text-shadow: 0px 0px 5px #affa;
}

#offcanvas-settings:checked + .offcanvas {
    box-shadow: 0 0 0 9999px #000c;
    transform: translateX(0);
}

#offcanvas-history:checked + .offcanvas {
    box-shadow: 0 0 0 9999px #000c;
    transform: translateX(0);
}

#offcanvas-user:checked + .offcanvas {
    box-shadow: 0 0 0 9999px #000c;
    transform: translateX(0);
}

.offcanvas {
    align-content: start;
    background-image: radial-gradient(circle at top center, #000, #200);
    color: #fffff0;
    display: flex;
    height: 100%;
    max-width: 360px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out;
    width: fit-content;
    z-index: 1000;
}

.offcanvas-body {
    overflow: auto;
    padding: 1rem;
    width: calc(100% - 2.25rem)
}

.offcanvas-side {
    width: 2.25rem;
}

.offcanvas--left {
    left: 0;
    transform: translateX(-100%);
}

.offcanvas--left .offcanvas-body {
    direction: rtl;
}

.offcanvas--right {
    right: 0;
    transform: translateX(100%);
}

.offcanvas-close {
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

.offcanvas--left .offcanvas-close {
    right: 0;
}

.offcanvas--right .offcanvas-close {
    left: 0;
}

.explainer {
    color: #666;
    font-size: 0.825rem;
    font-style: italic;
    list-style: none;
    margin: 0.25rem 0;
    padding-left: 1rem;
}

.ctrl {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.switch {
    align-items: center;
    border: 2px solid #666;
    background-color: #333;
    cursor: pointer;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all 1s ease-out;
    width: 1.5rem;
}

.switch::after {
    background-color: #444;
    content: "";
    height: 0.75rem;
    position: absolute;
    transition: all 0.1s ease-out;
    width: 0.75rem;
}

input[type="checkbox"]:checked + .switch {
    border-color: #cff9;
    box-shadow: 0 0 6px 1px  #cff6;
    transition-timing-function: ease-in;
}

input[type="checkbox"]:checked + .switch::after {
    background-color: #cff;
    transition-timing-function: ease-in;
}

.hql {
    display: grid;
    gap: 1rem;
    padding: 1rem 0;
}

.hqli {
    background-color: #191817;
    box-shadow: 0 1px 10px 5px #0004;
    padding: 0 0 1rem 2rem;
    position: relative;
}

.hqli .inner {
    border-bottom: 2px dashed #444;
    display: grid;
    gap: 0.15rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.hqli .inner > .hqli-premise:nth-child(even) {
    background-color: #fff1;
}

.hqli-premises, .hqli-conclusion {
    margin-bottom: 4px;
}

.hqli--right .inner {
    background-color: #3e31;
    border-bottom-style: solid;
    border-bottom-color: #3e3a!important;
}

.hqli--wrong .inner {
    background-color: #e331;
    border-bottom-style: solid;
    border-bottom-color: #e33a!important;
}

.hqli-answer-user::before,
.hqli-answer::before,
.hqli-response-time::before {
    color: #fffa;
    font-weight: bold;
    margin-right: 0.25rem;
}

.hqli-conclusion::before {
    content: "Conclusion";
    display: block;
}

.hqli-answer-user::before {
    content: "User Answer:"
}

.hqli-answer::before {
    content: "Right Answer:"
}

.hqli-response-time::before {
    content: "Response Time:"
}

.hqli-footer {
    color: #fff6;
    font-size: 12px;
    margin-right: -1rem;
    text-align: right;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .main-view {
        border: 0;
        box-shadow: none;
    }

    .metal-gear {
        font-size: 10px;
    }

    .metal-gear h1 {
        font-size: 20px;
    }

    .carousel.visible, .display-outer.visible {
        max-width: 320px;
    }
}
