.wcst-outer {
    margin: 0 auto;
    width: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.wcst-outer.visible {
    opacity: 1;
    height: unset;
    overflow: unset;
    padding: 5em 0;
    width: 800px;
}

.wcst-inner {
    position: relative;
    display: grid;
    gap: 1em;
    padding: 1rem 0 1rem 1rem;
}

.wcst-inner h2 {
    display: flex;
    font-family: "Espionage", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.15em;
    justify-content: space-between;
    margin-top: -0.5rem;
    padding: 0 0.5rem 0 calc(0.5rem + 4px);
    position: absolute;
    width: 100%;
}

.wcst-level {
    font-family: monospace;
}

.wcst-list {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5rem;
    user-select: none;
}

.wcst-list-item {
    display: inline-block;
    margin-right: .75em;
    margin-bottom: .75em;
    padding: .25em .75em;
    border: 3px solid #ed7b;
    cursor: pointer;
}

.wcst-list-item--right {
    background-color: #0f02;
}

.wcst-list-item--wrong {
    background-color: #f002;
}

.dragging {
    background-color: #222b;
    border-color: #ed7;
    transform: scale(1.1);
}

.wcst-resume {
    display: grid;
    font-size: 1.05rem;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.wcst-resume__intro {
    font-family: "Espionage", sans-serif;
    letter-spacing: 4px;
}

.wcst-resume__ruleset {
    color: #eddb7e;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}