<section class="mb-4">
    <h2 class="text-center">Tier Stats</h2>

    <ul class="list-group" style="max-width: 90%; margin: 0 auto;">
        <li class="list-group-item">
            <b>Tier</b>
            <div>{{ sylSrv.tier }}</div>
        </li>

        <li class="list-group-item">
            <b>Points Earned</b>
            <div>{{ sylSrv.score }}</div>
        </li>

        <li class="list-group-item">
            <b>Next Tier</b>
            <div>{{ this.nextTier }}</div>
        </li>

        <li class="list-group-item">
            <b>Points Remaining to Next Tier</b>
            <div>{{ this.pointsRemaining }}</div>
        </li>
    </ul>
</section>

<section class="mb-4">
    <h2 class="text-center">Accuracy Stats</h2>

    <ul class="list-group" style="max-width: 90%; margin: 0 auto;">
        <li class="list-group-item">
            <b>Correct Answers</b>
            <div>{{ this.correctQs.length }}</div>
        </li>

        <li class="list-group-item">
            <b>Incorrect Answers</b>
            <div>{{ this.incorrectQs.length }}</div>
        </li>

        <li class="list-group-item">
            <b>Unanswered Questions</b>
            <div>{{ this.unansweredQs.length }}</div>
        </li>

        <li class="list-group-item">
            <b>Current Streak</b>
            <div>{{ this.currentStreak.length }}</div>
        </li>

        <li class="list-group-item">
            <b>Longest Streak</b>
            <div>{{ this.longestStreak.length }}</div>
        </li>
    </ul>
</section>

<section class="mb-4">
    <h2 class="text-center">Time-Based Stats</h2>

    <ul class="list-group mb-3" style="max-width: 90%; margin: 0 auto;">
        <li class="list-group-item">
            <b>Total Play Time</b>
            <div>{{ formatTime(this.totalPlayTime) }}</div>
        </li>

        <li class="list-group-item">
            <b>Average Time per Answer</b>
            <div>{{ ((this.questions.length !== 0) ? (this.totalPlayTime / (1000 * this.questions.length)) : 0) | number:".1-1" }} s</div>
        </li>

        <li class="list-group-item">
            <b>Fastest Answer</b>
            <div>{{ ((this.fastestAnswer / 1000) || 0) | number:".1-1" }} s</div>
        </li>

        <li class="list-group-item">
            <b>Slowest Answer</b>
            <div>{{ ((this.slowestAnswer / 1000) || 0) | number:".1-1" }} s</div>
        </li>
    </ul>

    <ng-template #timeBasedStatsTemplate let-ps="ps">
        <ul class="list-group">
            <li class="list-group-item">
                <b>Average Time per Answer</b>
                <div>{{ (this.timeBasedStats[ps] ? (this.timeBasedStats[ps].sum / (1000 * this.timeBasedStats[ps].count)) : 0) | number:".1-1" }} s</div>
            </li>
    
            <li class="list-group-item">
                <b>Fastest Answer</b>
                <div>{{ ((this.timeBasedStats[ps]?.fastest / 1000) || 0) | number:".1-1" }} s</div>
            </li>
    
            <li class="list-group-item">
                <b>Slowest Answer</b>
                <div>{{ ((this.timeBasedStats[ps]?.slowest / 1000) || 0) | number:".1-1" }} s</div>
            </li>
        </ul>
    </ng-template>

    <div *ngIf="{ activeTab: 2 } as d" style="max-width: 90%; margin: 0 auto;">
        <ul ngbNav #nav="ngbNav" [(activeId)]="d.activeTab" class="nav-tabs">
            <li [ngbNavItem]="2">
                <a ngbNavLink>2 Premises</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="timeBasedStatsTemplate; context: { ps: d.activeTab }"></ng-container> 
                </ng-template>
            </li>

            <li [ngbNavItem]="3">
                <a ngbNavLink>3 Ps</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="timeBasedStatsTemplate; context: { ps: d.activeTab }"></ng-container> 
                </ng-template>
            </li>

            <li [ngbNavItem]="4">
                <a ngbNavLink>4 Ps</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="timeBasedStatsTemplate; context: { ps: d.activeTab }"></ng-container> 
                </ng-template>
            </li>

            <li [ngbNavItem]="5">
                <a ngbNavLink>5 Ps</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="timeBasedStatsTemplate; context: { ps: d.activeTab }"></ng-container> 
                </ng-template>
            </li>

            <li [ngbNavItem]="6">
                <a ngbNavLink>6 Ps</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="timeBasedStatsTemplate; context: { ps: d.activeTab }"></ng-container> 
                </ng-template>
            </li>

            <li [ngbNavItem]="7">
                <a ngbNavLink>7+ Ps</a>
                <ng-template ngbNavContent>
                    <ng-container *ngTemplateOutlet="timeBasedStatsTemplate; context: { ps: d.activeTab }"></ng-container> 
                </ng-template>
            </li>
        </ul>
        
        <div [ngbNavOutlet]="nav" class="p-3 border border-top-0"></div>
    </div>
</section>

<section>
    <h2 class="text-center">Error Analysis</h2>

    <ul class="list-group mb-3" style="max-width: 90%; margin: 0 auto;">
        <li class="list-group-item">
            <b>Most Common Mistake Type</b>
            <div>{{ mostCommonMistake }}</div>
        </li>

        <li class="list-group-item">
            <b>Least Common Mistake Type</b>
            <div>{{ leastCommonMistake }}</div>
        </li>
    </ul>
</section>

<section>
    <h2>Question-Type Stats</h2>

    <div>
        <h3>[["Distinction," "Direction," "Analogy," "Syllogism"]]</h3>

        <div>
            <h3>2 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>3 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>4 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>5 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>6 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>7+ Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    </div>
</section>