<section class="mb-3">
    <h2 class="text-center">Tier</h2>

    <ul class="list-group" style="max-width: 90%; margin: 0 auto;">
        <li class="list-group-item d-flex justify-content-between">
            <b>Tier</b>
            <div>{{ sylSrv.tier }}</div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <b>Points Earned</b>
            <div>{{ sylSrv.score }}</div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <b>Next Tier</b>
            <div>{{ this.nextTier }}</div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <b>Points Remaining to Next Tier</b>
            <div>{{ this.pointsRemaining }}</div>
        </li>
    </ul>
</section>

<section>
    <h2>Accuracy Stats</h2>

    <div>Correct Answers: </div>
    <div>Incorrect Answers: </div>
    <div>Unanswered Questions: </div>
    <div>Current Streak: </div>
    <div>Longest Streak: </div>
</section>

<section>
    <h2>Time Based Stats</h2>

    <div>
        <h3>2 Premises</h3>

        <div>Average Time per Answer: </div>
        <div>Fastest Answer: </div>
        <div>Slowest Answer: </div>
    </div>

    <div>
        <h3>3 Premises</h3>

        <div>Average Time per Answer: </div>
        <div>Fastest Answer: </div>
        <div>Slowest Answer: </div>
    </div>

    <div>
        <h3>4 Premises</h3>

        <div>Average Time per Answer: </div>
        <div>Fastest Answer: </div>
        <div>Slowest Answer: </div>
    </div>

    <div>
        <h3>5 Premises</h3>

        <div>Average Time per Answer: </div>
        <div>Fastest Answer: </div>
        <div>Slowest Answer: </div>
    </div>

    <div>
        <h3>6 Premises</h3>

        <div>Average Time per Answer: </div>
        <div>Fastest Answer: </div>
        <div>Slowest Answer: </div>
    </div>

    <div>
        <h3>7+ Premises</h3>

        <div>Average Time per Answer: </div>
        <div>Fastest Answer: </div>
        <div>Slowest Answer: </div>
    </div>
</section>

<section>
    <h2>Question-Type Stats</h2>

    <div>
        <h3>[["Distinction," "Direction," "Analogy," "Syllogism"]]</h3>

        <div>
            <h3>2 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>3 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>4 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>5 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>6 Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    
        <div>
            <h3>7+ Premises</h3>
    
            <div>Accuracy: </div>
            <div>Completed Questions: </div>
            <div>Average Time per Answer: </div>
            <div>Fastest Answer: </div>
            <div>Slowest Answer: </div>
        </div>
    </div>
</section>

<section>
    <h2>Error Analysis</h2>

    <div>Most Common Mistake Type: </div>
    <div>Least Common Mistake Type: </div>
</section>