:host {
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}

:host ::ng-deep .accordion-header:has(button[aria-expanded="true"]) {
    position: sticky;
    top: 0;
}

:host ::ng-deep .accordion-item,
:host ::ng-deep .accordion-button {
    border: none;
    border-radius: 0 !important;
}

:host ::ng-deep .accordion-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}