<h2 class="text-center">Accuracy Stats</h2>
    
<ul class="list-group">
    <li class="list-group-item flex-between">
        <b>Correct Answers</b>
        <div>{{ correctQs.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Incorrect Answers</b>
        <div>{{ incorrectQs.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Unanswered Questions</b>
        <div>{{ unansweredQs.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Current Streak</b>
        <div>{{ currentStreak.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Longest Streak</b>
        <div>{{ longestStreak.length }}</div>
    </li>
</ul>
