<div class="playcard card shadow">
    <div class="great-title d-none d-md-flex">
        <div>s</div>
        <div>y</div>
        <div>l</div>
        <div>l</div>
        <div>o</div>
        <div>g</div>
        <div>i</div>
        <div>m</div>
        <div>o</div>
        <div>u</div>
        <div>s</div>
        <div class="great-title-version">v4</div>
    </div>


    <div class="playcard-header card-header">
        <div class="playcard-toolbar">
            <div>
                <span
                    class="badge clickable fs-6"
                    [style.backgroundColor]="TIER_COLORS[sylSrv.tier].bgColor"
                    [style.color]="TIER_COLORS[sylSrv.tier].textColor"
                    [ngbTooltip]="tierTooltip"
			        [autoClose]="'outside'"
                    triggers="click"
                >
                    {{ sylSrv.tier }} <i class="bi bi-info-circle"></i>
                </span>
                <ng-template #tierTooltip>
                    <div class="text-start">
                        <div *ngFor="let tier of tiers">
                            <span class="badge" style="width: 80px;" [style.backgroundColor]="TIER_COLORS[tier].bgColor" [style.color]="TIER_COLORS[tier].textColor">{{ tier }}</span> {{ (TIER_SCORE_RANGES[tier].maxScore === Infinity) ? "above" : "" }} {{ (TIER_SCORE_RANGES[tier].minScore === -Infinity) ? "" : TIER_SCORE_RANGES[tier].minScore }} {{ (TIER_SCORE_RANGES[tier].maxScore === Infinity) ? "" : (TIER_SCORE_RANGES[tier].minScore === -Infinity) ? "below" : "-" }} {{ (TIER_SCORE_RANGES[tier].maxScore === Infinity) ? "" : (TIER_SCORE_RANGES[tier].maxScore + 1) }} pts
                        </div>
                    </div>
                </ng-template>
                <span class="text-muted ms-2">{{ sylSrv.score }} pts</span>
            </div>
            <div>
                <div ngbDropdown container="body">
                    <button class="btn" ngbDropdownToggle>More</button>
					<div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="sylSrv.screen = EnumScreens.Start">Start Screen</button>
                        <button ngbDropdownItem (click)="sylSrv.screen = EnumScreens.Intro">Intro</button>
						<button ngbDropdownItem (click)="sylSrv.screen = EnumScreens.Stats">Stats</button>
						<button ngbDropdownItem (click)="sylSrv.screen = EnumScreens.History">History</button>
						<button ngbDropdownItem (click)="sylSrv.screen = EnumScreens.Tutorials">Tutorials</button>
						<div class="dropdown-divider"></div>
                        <a ngbDropdownItem href="https://www.linkedin.com/in/f3d3r1c07r0774/" target="_blank">About the creator</a>
					</div>
				</div>
            </div>
        </div>
    </div>

    <div class="card-body p-0 overflow-hidden position-relative">
        <div class="playcard-body">
            <ng-container [ngSwitch]="sylSrv.screen">
                <app-body-intro     *ngSwitchCase="EnumScreens.Intro"/>
                <app-body-start     *ngSwitchCase="EnumScreens.Start"/>
                <app-body-tutorial  *ngSwitchCase="EnumScreens.Tutorial"/>
                <app-body-in-game   *ngSwitchCase="EnumScreens.InGame"/>
                <app-body-feedback  *ngSwitchCase="EnumScreens.Feedback"/>
                <app-body-history   *ngSwitchCase="EnumScreens.History"/>
                <app-body-tutorials *ngSwitchCase="EnumScreens.Tutorials"/>
                <app-body-stats     *ngSwitchCase="EnumScreens.Stats"/>
            </ng-container>
        </div>
    </div>

    <div class="playcard-footer card-footer">
        <ng-container [ngSwitch]="sylSrv.screen">
            <app-footer-intro     *ngSwitchCase="EnumScreens.Intro"/>
            <app-footer-start     *ngSwitchCase="EnumScreens.Start"/>
            <app-footer-tutorial  *ngSwitchCase="EnumScreens.Tutorial"/>
            <app-footer-in-game   *ngSwitchCase="EnumScreens.InGame"/>
            <app-footer-history   *ngSwitchCase="EnumScreens.History"/>
            <app-footer-tutorials *ngSwitchCase="EnumScreens.Tutorials"/>
            <app-footer-stats     *ngSwitchCase="EnumScreens.Stats"/>
        </ng-container>
    </div>
</div>