:host {
    display: grid;
    place-items: center;
    height: 100vh;
}

.playcard {
    min-width: 320px;
    min-height: 320px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timerbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    height: 4px;
}