<ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel title="Analogy">
        <ng-template ngbPanelContent>
            <app-tutorial-analogy></app-tutorial-analogy>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Binary">
        <ng-template ngbPanelContent>
            <app-tutorial-binary></app-tutorial-binary>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Comparison Chronological">
        <ng-template ngbPanelContent>
            <app-tutorial-comparison-chronological></app-tutorial-comparison-chronological>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Comparison Numerical">
        <ng-template ngbPanelContent>
            <app-tutorial-comparison-numerical></app-tutorial-comparison-numerical>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Direction">
        <ng-template ngbPanelContent>
            <app-tutorial-direction></app-tutorial-direction>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Direction 3D">
        <ng-template ngbPanelContent>
            <app-tutorial-direction3D></app-tutorial-direction3D>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Direction 4D">
        <ng-template ngbPanelContent>
            <app-tutorial-direction4D></app-tutorial-direction4D>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Distinction">
        <ng-template ngbPanelContent>
            <app-tutorial-distinction></app-tutorial-distinction>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Syllogism">
        <ng-template ngbPanelContent>
            <app-tutorial-syllogism></app-tutorial-syllogism>
        </ng-template>
    </ngb-panel>
</ngb-accordion>