:host {
    display: block;
}

.reset-field {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    line-height: 1;
}

.invalid-feedback:not(:empty) ~ .reset-field {
    right: 2rem;
}

.reset-field:has(~ .invalid-feedback:not(:empty)) {
    right: 2rem;
}

.reset-field.reset-field--floating {
    top: 1.325rem;
}

.reset-field.reset-field--fixed {
    top: 0.675rem;
}

.tagger-array {
    border: 1px dashed #ccc;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.375rem;
}

.tagger-array:empty::before {
    content: "Selected items will be shown here";
    color: #ccc;
}