<h2 class="text-center">Tier Stats</h2>
    
<ul class="list-group">
    <li class="list-group-item flex-between">
        <b>Tier</b>
        <div>{{ sylSrv.tier }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Points Earned</b>
        <div>{{ sylSrv.score }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Next Tier</b>
        <div>{{ nextTier }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Points Remaining to Next Tier</b>
        <div>{{ pointsRemaining }}</div>
    </li>
</ul>
