<div class="text-center" *ngIf="!questions.length">
    <h3 class="mb-3">Play to see something here</h3>
    <button class="btn btn-lg btn-primary" (click)="sylSrv.start()">Press to Play</button>
</div>

<ul class="list-group list-group-flush" *ngIf="questions.length">
    <li
        class="list-group-item"
        *ngFor="let q of questions"
        [class.timeout]="q.userAnswer === undefined"
        [class.correct]="q.userAnswer !== undefined && q.userAnswer === q.isValid"
        [class.incorrect]="q.userAnswer !== undefined && q.userAnswer !== q.isValid"
    >
        <div class="p-2 overflow-auto" style="max-height: 150px; border: 1px solid;">
            <div *ngFor="let p of q.premises" class="premise" [innerHTML]="p"></div>
            <div [innerHTML]="q.conclusion"></div>
        </div>

        <small class="d-grid mt-2 px-2" style="grid-template-columns: repeat(4, 1fr); gap: 0.25rem;">
            <div>
                <div class="fw-bold">Type</div>
                {{ q.type }}
            </div>

            <div>
                <div class="fw-bold">Correct Answer</div>
                {{ q.isValid }}
            </div>

            <div>
                <div class="fw-bold">User Answer</div>
                {{ (q.userAnswer === undefined) ? "Timeout" : q.userAnswer }}
            </div>

            <div>
                <div class="fw-bold">Time Taken</div>
                {{ (q.userAnswer === undefined) ? "Timeout" : (((q.answeredAt - q.createdAt) / 1000) | number:".1-1") + "s" }}
            </div>
        </small>
    </li>
</ul>